{%  extends 'admin/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
          <!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Detail Transaksi | {{act}}</h1>
	</div>
</div>
<style>
	#tabledetailrekap_filter{
		float: right;
	}
	#tabledetailrekap_paginate{
		float: right;
	}
</style>
<div class="container-fluid">
	<div class="table-responsive p-2" style="min-height: 350px">
		<table id="tabledetailrekap" class="table table-bordered table-striped" style="color: black;"> 
		    <thead>
		      <tr>
		        <th scope="col">Nama Barang</th>
		        <th scope="col">Kategori</th>
		        <th scope="col">Harga Jual</th>
		        <th scope="col">Harga Beli</th>
		        <th scope="col">Status</th>
		        <th scope="col">Qty</th>
		        <th scope="col">Sub Total</th>
		      </tr>
		    </thead>
		    <tbody>
	<!-- 	    {% if dtransaksi.count == 0 %}
		    <tr>
		    	<th colspan="7" class="text-muted text-center p-4">Belum ada item yang dimasukkan</th>
		    </tr>
		    {% else %} -->
		    {% for i in drekap %}
		      <tr>
		        <td>{{i.barang}}</td>
		        <td>{{i.barang.kategori}}</td>
		        <td>Rp.{{i.harga_jual|intcomma }}</td>
		        <td>Rp.{{i.harga_beli|intcomma }}</td>
		        <td>{{i.status}}</td>
				<td>{{i.qty}}</td>
				<td>Rp.{{i.total|intcomma }}</td>
		      </tr>
		    {% endfor %}
	<!-- 	    {% endif %} -->
		    </tbody>
		</table>
	</div>

	<hr>

	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
	      
	    </div>

	    <div class="col-xl-3 col-md-6 mb-4">
	      <div class="card border-left-primary shadow h-100 py-2">
	        <div class="card-body">
	          <div class="row no-gutters align-items-center">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Untung</div>
	              <div id="untung" class="h5 mb-0 font-weight-bold text-gray-800">{% if totaluntung == 0 %} 0{% else %} Rp.{{totaluntung|intcomma}}{% endif %}</div>
	            </div>
	            <div class="col-auto">
	              <i class="fas fa-boxes fa-2x text-gray-300"></i>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="col-xl-3 col-md-6 mb-4">
	      <div class="card border-left-primary shadow h-100 py-2">
	        <div class="card-body">
	          <div class="row no-gutters align-items-center">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jumlah Item</div>
	              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if totali.qty__sum == None %} 0{% else %} {{totali.qty__sum}}{% endif %}</div>
	            </div>
	            <div class="col-auto">
	              <i class="fas fa-boxes fa-2x text-gray-300"></i>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="col-xl-3 col-md-6 mb-4">
	      <div class="card border-left-success shadow h-100 py-2">
	        <div class="card-body">
	          <div class="row no-gutters align-items-center">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total</div>
	              <div id="total" class="h5 mb-0 font-weight-bold text-gray-800">Rp.{% if totalg.total__sum == None %} 0{% else %} {{totalg.total__sum|intcomma}}{% endif %}</div>
	            </div>
	            <div class="col-auto">
	              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>

</div>

<script>
	$(document).ready(function() {
		var total = $("#total").html();
		var untung = $("#untung").html();
	    var table = $('#tabledetailrekap').DataTable( {
	    // 	"columnDefs": [
			  //   { "orderable": false, "searchable": false, "targets": 6 }
			  // ],
	        buttons:[	
	        			{
            			extend: 'print',
		                exportOptions: {
		                    columns: ':visible',
                		},
                		customize: function ( win ) {
		                    	$(win.document.body).append(
								    $('<div>').prop({
								      id: 'tambahan',
								      innerHTML: 'Total Belanja: '+total,
								    }),

								    $('<div>').prop({
								      id: 'untung',
								      innerHTML: 'Total Untung: '+untung,
								    }),
								);
		                    }
                		},
                		'colvis',
        			],
        	"aLengthMenu": [[5,10,25,-1],[5,10,25, "All"]],
			"iDisplayLength": 10
	    } );
	 
	    table.buttons().container()
	        .appendTo( '#tabledetailrekap_wrapper .col-md-6:eq(0)' );
	} );
</script>
{% endblock %}