{%  extends 'admin/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
          <!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Laporan Bulanan</h1>
	</div>
</div>
<style>
	#tablerekap_filter{
		float: right;
	}
	#tablerekap_paginate{
		float: right;
	}
</style>
<div class="container-fluid">
	<div class="table-responsive p-2">
		<div class="row">
			<div class="col-md-3">
				<form method="GET" action="{% url 'filter' %}">
					{{rekapFilter.as_p}}
					<div style=" width: max-content" class="ml-auto">
						<a class="btn btn-warning btn-sm" href="/laporan">Reset Filter</a>
						<button type="submit" class="btn btn-secondary btn-sm">Filter</button>
					</div>
				</form>
			</div>
			<div class="col-md-9">
				<div class="row mt-2">
					<div class="col-xl-4 col-md-6 mb-4">
				      <div class="card border-left-primary shadow-sm py-2">
				        <div class="card-body">
				          <div class="row no-gutters align-items-center">
				            <div class="col mr-2">
				              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Item</div>
				              <div id="untung" class="h5 mb-0 font-weight-bold text-gray-800">{{itemkeluar.qty__sum}}</div>
				            </div>
				            <div class="col-auto">
				              <i class="fas fa-boxes fa-2x text-gray-300"></i>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="col-xl-4 col-md-6 mb-4">
				      <div class="card border-left-primary shadow-sm py-2">
				        <div class="card-body">
				          <div class="row no-gutters align-items-center">
				            <div class="col mr-2">
				              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jumlah Transaksi</div>
				              <div id="untung" class="h5 mb-0 font-weight-bold text-gray-800">{{tottrans.count}}</div>
				            </div>
				            <div class="col-auto">
				              <i class="fas fa-boxes fa-2x text-gray-300"></i>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="col-xl-4 col-md-6 mb-4">
				      <div class="card border-left-primary shadow-sm py-2">
				        <div class="card-body">
				          <div class="row no-gutters align-items-center">
				            <div class="col mr-2">
				              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Estimasi Keuntungan</div>
				              <div id="untung" class="h5 mb-0 font-weight-bold text-gray-800">Rp.{{totaluntung|intcomma}}</div>
				            </div>
				            <div class="col-auto">
				              <i class="fas fa-boxes fa-2x text-gray-300"></i>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
		<hr>
		<table id="tablelaporan" class="table table-striped table-bordered" style="color: black;">
			<thead>
				<th scope="col">Nama Barang</th>
		        <th scope="col">Kategori</th>
		        <th scope="col">Harga Jual</th>
		        <th scope="col">Harga Beli</th>
		        <th scope="col">Status</th>
		        <th scope="col">Qty</th>
		        <th scope="col">Sub Total</th>
		        <th scope="col">Date</th>
			</thead>
			<tbody>
				{% for i in drekap %}
		      <tr>
		        <td>{{i.barang}}</td>
		        <td>{{i.barang.kategori}}</td>
		        <td>Rp.{{i.harga_jual|intcomma }}</td>
		        <td>Rp.{{i.harga_beli|intcomma }}</td>
		        <td>{{i.status}}</td>
				<td>{{i.qty}}</td>
				<td>Rp.{{i.total|intcomma }}</td>
				<td>{{i.created_at.date}}</td>
		      </tr>
		    {% endfor %}
			</tbody>
		</table>	
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	$(document).ready(function(){
		$('select').addClass('form-control');
		$('select').attr('required', 'required')

		$('#tablelaporan').DataTable({
			"columnDefs": [
			    { "orderable": false, "searchable": false, "targets": 1 }
			  ],
			"aLengthMenu": [[10,25,-1],[10,25, "All"]],
			"iDisplayLength": 10
		});
	});
</script>
{% endblock %}