{%  extends 'admin/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
 <div class="container-fluid">
          <!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Transaksi</h1>
		<a class="btn btn-success btn-sm shadow-sm ml-auto mr-3 {% if dtransaksi.count == 0 %}disabled" disabled="true"{% endif %}" href="{% url 'transdone' %}">Selesai</a>
		<button type="button" data-toggle="modal" data-target="#transaksiModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i> Add Barang</button>
	</div>
</div>
<style>
	#tabletransaksi_filter{
		float: right;
	}
	#tabletransaksi_paginate{
		float: right;
	}
</style>
<div class="container-fluid">
	{% for message in messages %}
      <div class="alert alert-warning" role="alert">
        {{message}}
      </div>
    {% endfor %}
	<div class="table-responsive p-2" style="min-height: 350px;">
	  <table id="tabletransaksi" class="table table-bordered table-striped w-100" style="color: black;">
	    <thead>
	      <tr>
	        <th scope="col">Nama Barang</th>
	        <th scope="col">Kategori</th>
	        <th scope="col">Harga</th>
	        <th scope="col">Status</th>
	        <th scope="col">Qty</th>
	        <th scope="col">Sub Total</th>
	        <th scope="col">Action</th>
	      </tr>
	    </thead>
	    <tbody>
<!-- 	    {% if dtransaksi.count == 0 %}
	    <tr>
	    	<th colspan="7" class="text-muted text-center p-4">Belum ada item yang dimasukkan</th>
	    </tr>
	    {% else %} -->
	    {% for i in dtransaksi %}
	      <tr>
	        <td>{{i.barang}}</td>
	        <td>{{i.barang.kategori}}</td>
	        <td>Rp.{{i.harga|intcomma}}</td>
	        <td>{{i.status}}</td>
			<td>{{i.qty}}</td>
			<td>Rp.{{i.total|intcomma}}</td>
			<td>
				
				<form action="{% url 'deltrans' i.id %}" method="post">
					{%csrf_token%}
					<button type="submit" class="btn btn-danger btn-sm">Hapus</button>
				</form>
			</td>
	      </tr>
	    {% endfor %}
<!-- 	    {% endif %} -->
	    </tbody>
	  </table>
	</div>

	<div class="modal fade" id="transaksiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form method="post">
	        	{% csrf_token %}
			  <div class="form-group">
			    <label for="id_barang">Nama Barang</label>
			    <p></p>
			    {{form.barang}}
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Status</label>
			    {{form.status}}
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Qty</label>
			    {{form.qty}}
			  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Tambah</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<hr>

	<div class="row py-4">

	    <div class="col-xl-3 col-md-6 mb-4">
	      <div class="card border-left-primary shadow py-2" style="min-height: max-content">
	        <div class="card-body">
	          <div class="row no-gutters align-items-center">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jumlah Item</div>
	              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if totali.qty__sum == None %} 0{% else %} {{totali.qty__sum}}{% endif %}</div>
	            </div>
	            <div class="col-auto">
	              <i class="fas fa-boxes fa-2x text-gray-300"></i>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="col-xl-3 col-md-6 mb-4">
	      <div class="card border-left-success shadow py-2" style="max-height: max-content">
	        <div class="card-body">
	          <div class="row no-gutters align-items-center">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total</div>
	              <div id="total" class="h5 mb-0 font-weight-bold text-gray-800">Rp.{% if total.total__sum == None %} 0{% else %} {{total.total__sum|intcomma}}{% endif %}</div>
	            </div>
	            <div class="col-auto">
	              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
		<div class="col-xl-6 col-md-6 mb-4">
	      <div class="card mx-auto" style="max-width: 80%;">
	      	<div class="card-header bg-primary text-light">
	      		Hitung Kembalian
	      	</div>
	      	<div class="card-body">
	      		<!-- <div class="input-group mb-2">
	      			<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Rp</span>
					</div>
	      			<input id="totalhitung" type="text" class="form-control" aria-describedby="basic-addon1" value="{% if total.total__sum == None %} 0{% else %} {{total.total__sum|intcomma}}{% endif %}" disabled>
	      		</div> -->
	      		<input type="hidden" value="{% if total.total__sum == None %} 0{% else %} {{total.total__sum|intcomma}}{% endif %}">
	      		<div class="input-group mb-2">
	      			<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon2">Rp</span>
					</div>
	      			<input type="number" min="0" id="totalcash" class="form-control" aria-describedby="basic-addon2" placeholder="0">
	      		</div>
	      		<div class="input-group mb-2">
	      			<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon3">Rp</span>
					</div>
	      			<input type="text" id="totalkembalian" class="form-control" aria-describedby="basic-addon3" disabled placeholder="0">
	      		</div>
				<button id="hitungkembalian" class="btn btn-success btn-sm">Hitung</button>
	      	</div>
	      </div>
	    </div>
	</div>
	<input type="hidden" value="{{total.total__sum}}" id="totalforkembalian">
</div>

<script>
	$(document).ready(function() {

		$( "#hitungkembalian" ).click(function() {
			// console.log('test')
			var total = $("#totalforkembalian").val()
			// console.log(total)
			var cash = $("#totalcash").val()
			// console.log(cash)
			var kembalian = cash - total

			if (cash<total) {
				return alert("Uang bayar kurang!")
			}else{
				return $('#totalkembalian').val(kembalian)
			}
		});


		var total = $("#total").html();
	    var table = $('#tabletransaksi').DataTable( {
	    	"columnDefs": [
			    { "orderable": false, "searchable": false, "targets": 6 }
			  ],
	        buttons:[	
	        			{
            			extend: 'print',
		                exportOptions: {
		                    columns: ':visible',
                		},
                		customize: function ( win ) {
		                    	$(win.document.body).append(
								    $('<div>').prop({
								      id: 'tambahan',
								      innerHTML: 'Total Belanja: '+total,
								    }));
		                    }
                		},
                		'colvis',
        			],
        	"aLengthMenu": [[5,10,25,-1],[5,10,25, "All"]],
			"iDisplayLength": 10
	    } );
	 
	    table.buttons().container()
	        .appendTo( '#tabletransaksi_wrapper .col-md-6:eq(0)' );
	} );
</script>

<script>
	$(document).ready(function(){
		$('#id_barang').select2({
			width: '100%'
		});
	});
</script>

<script>
/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field
 */

//Query All input fields
var select_fields = document.getElementsByTagName('select')

var input_fields = document.getElementsByTagName('input')


for (var field in select_fields){
  select_fields[field].className += ' form-control'
}
for (var field in input_fields){
  input_fields[field].className += ' form-control'
}
</script>
{% endblock %}